<!DOCTYPE html>
<html ng-app>
<head>
  <title></title>
  <script type="text/javascript" src="/js/luffy/seajs/2.1.1/sea.js" id="seajsnode"></script>
  <!-- seajs配置文件 -->
  <script type="text/javascript" src="/js/luffy/luffyconf.js"></script>
  <!-- 当前页面模块的健康情况 -->
  <script type="text/javascript" src="/js/luffy/seajs-health/0.1.0/seajs-health.js"></script>
  <!-- seajs文本插件 can load .tpl .html .json 文本 -->
  <script type="text/javascript" src="/js/luffy/seajs-text/1.0.2/seajs-text.js"></script>
  <script type="text/javascript" src="/js/luffy/seajs-style/1.0.1/seajs-style.js"></script>
  <link rel="stylesheet" href="/js/sea-modules/playman/shincss/base.css"/>
  <script src="apple.js"></script>
</head>
<body>

<div ng-controller="Controll">
  一个有{{apple.number}}个苹果，有{{orange.number}}个橘子

  <br/>

  请输入<input type="text" ng-model="apple.number"/>个苹果
  <br/>
  请输入 <input type="text" ng-model="orange.number"/>个橘子

</div>

</body>
<script>
  seajs.use(['angular/angularjs/1.1.5/angular']);
</script>
</html>