/*! define playman/shincss/1.0.0/grid-debug.css */
/*栈格系统*/
/*
 12*100px
*/

.ui-grid-row {
    width: 1200px;
    margin-right: -10px;
}

.ui-grid-row:after {
    clear: both;
    display: block;
    content: none;
    height: 0;
    font-size: 0;
    visibility: hidden;
}

.ui-grid-1, .ui-grid-2, .ui-grid-3, .ui-grid-4, .ui-grid-5, .ui-grid-6, .ui-grid-7, .ui-grid-8, .ui-grid-9, .ui-grid-10, .ui-grid-11, .ui-grid-12 {
    margin-right: 10px;
    float: left;
}

.ui-grid-1 {
    width: 90px;
}

.ui-grid-2 {
    width: 190px;
}

.ui-grid-3 {
    width: 290px;
}

.ui-grid-4 {
    width: 390px;
}

.ui-grid-5 {
    width: 490px;
}

.ui-grid-6 {
    width: 590px;
}

.ui-grid-7 {
    width: 690px;
}

.ui-grid-8 {
    width: 790px;
}

.ui-grid-9 {
    width: 890px;
}

.ui-grid-10 {
    width: 990px;
}

.ui-grid-11 {
    width: 1090px;
}

.ui-grid-12 {
    width: 1190px;
}
